#bg_div{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.falling-leaves {
	position:fixed;
    top: 0;
    bottom: 0;
    width: 100%;
	height:100%;
    /*background: url(/style/themeImg/sidebar-bg.png) no-repeat center center;*/
    overflow: hidden;
	z-index:999;
	/*设置上层遮罩没有事件防止页面其他元素事件无法触发*/
	pointer-events: none;
}
.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}